.count {
    display: flex;
    color: honeydew;
    flex-direction: column;
    align-items: center;
}

.counter-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: white;
    
    margin-bottom: 10px;
}
.counter-buttons button{
    background-color: #000;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.counter-buttons button:hover {
background-color: hsl(240, 51%, 38%)
}
input, text{
    color: azure;
}
.counter-value{
    font-size: 35px;
    margin: 20px 0;
    border: 2px solid black ;
    border-radius: 5px;
    outline: none;
}

.act-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.increment{
    background-color: hsl(0, 0%, 5%);
    color: white;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}
.increment:hover{
background-color: hsl(0, 12%, 66%);
}
.reset {
    background-color: hsl(0, 0%, 5%);
    color: hsl(2, 86%, 44%);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.reset:hover{
    background-color: hsl(0, 12%, 66%);
}